---
version: 2
jobs:
  test:
    docker:
      - image: cloudradario/go-build:0.0.10
    working_directory: /go/src/github.com/cloudradar-monitoring/cagent
    steps:
      - checkout
      - run: make test

  gorelease:
    docker:
      - image: cloudradario/go-build:0.0.10
    working_directory: /go/src/github.com/cloudradar-monitoring/cagent
    steps:
      # Setup our ssh key from env var to be able to connect to Windows VM
      - run:
          name: Setup ssh key to access windows signing machine
          command: echo $WIN_SSH_KEY | base64 -d > /tmp/id_win_ssh && chmod 0600 /tmp/id_win_ssh
      - checkout
      - run:
          name: Build binaries, sign msi files and create GitHub release
          command: make ci
      - run:
          name: Fetch release changelog so we can preserve it when releasing
          command: "CHANGELOGRAW=$(curl -H \"Authorization: token ${GITHUB_TOKEN}\"  https://api.github.com/repos/cloudradar-monitoring/cagent/releases | jq \".[0].body\") && echo \"export CHANGELOGRAW=$CHANGELOGRAW\" >> $BASH_ENV"
      - run:
          name: Publish release
          shell: /bin/bash
          command: |
            if [[ ${CIRCLE_TAG} =~ -{1}((0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*)(\.(0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*))*)?(\+[0-9a-zA-Z-]+(\.[0-9a-zA-Z-]+)*)?$ ]] ; then
              echo -e ${CHANGELOGRAW} | github-release edit --user cloudradar-monitoring --repo cagent --tag ${CIRCLE_TAG} --pre-release --description -
            else
              echo -e ${CHANGELOGRAW} | github-release edit --user cloudradar-monitoring --repo cagent --tag ${CIRCLE_TAG} --description -
            fi
          when: on_success
      - run:
          name: Delete GitHub release in case something went wrong
          command: github-release delete --user cloudradar-monitoring --repo cagent --tag ${CIRCLE_TAG}
          when: on_fail

  gorelease-test:
    docker:
      - image: cloudradario/go-build:0.0.10
    working_directory: /go/src/github.com/cloudradar-monitoring/cagent
    steps:
      - checkout
      - run: make goreleaser-snapshot

workflows:
  version: 2
  test-on-commit:
    jobs:
      - test:
          filters:
            tags:
              ignore: /.*/
      - gorelease-test:
          filters:
            tags:
              ignore: /.*/

  test-and-release:
    jobs:
      - test:
          filters:
            tags:
              only: /^(0|[1-9]\d*)\.(0|[1-9]\d*)\.(0|[1-9]\d*)(-(0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*)(\.(0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*))*)?(\+[0-9a-zA-Z-]+(\.[0-9a-zA-Z-]+)*)?$/
            branches:
              ignore: /.*/
      - gorelease:
          requires:
            - test
          filters:
            tags:
              only: /^(0|[1-9]\d*)\.(0|[1-9]\d*)\.(0|[1-9]\d*)(-(0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*)(\.(0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*))*)?(\+[0-9a-zA-Z-]+(\.[0-9a-zA-Z-]+)*)?$/
            branches:
              ignore: /.*/
