---
version: 2
docker_job_setup: &docker_job
  docker:
    - image: cloudradario/go-build:0.0.14
  working_directory: /go/src/github.com/cloudradar-monitoring/cagent

attach_workspace: &workspace
  attach_workspace:
    at: /go/src/github.com/cloudradar-monitoring

jobs:
  get-source:
    <<: *docker_job
    steps:
      - checkout
      - persist_to_workspace:
          root: /go/src/github.com/cloudradar-monitoring
          paths:
            - cagent

  test:
    <<: *docker_job
    steps:
      - <<: *workspace
      - run: make test
  
  test-goreleaser:
    <<: *docker_job
    steps:
      - <<: *workspace
      - run: make goreleaser-snapshot

  build-goreleaser:
    <<: *docker_job
    steps:
      - <<: *workspace
      - run:
          name: Build binaries
          command: make goreleaser-rm-dist
      - persist_to_workspace:
          root: /go/src/github.com/cloudradar-monitoring
          paths:
            - cagent
  
  build-sign-msi:
    <<: *docker_job
    steps:
      - <<: *workspace
      - run:
          name: Setup ssh key to access windows signing machine
          command: echo $SSH_KEY | base64 -d > /tmp/id_ssh && chmod 0600 /tmp/id_ssh
      - run: 
          name: Sign msi files
          command: make windows-sign
  
  build-aptly:
    <<: *docker_job
    steps:
      - <<: *workspace
      - run:
          name: Setup ssh key to access aptly server
          command: echo $SSH_KEY | base64 -d > /tmp/id_ssh && chmod 0600 /tmp/id_ssh
      - run:
          name: Update aptly repository
          command: make aptly

  build-createrepo:
    <<: *docker_job
    steps:
      - <<: *workspace
      - run:
          name: Setup ssh key to access createrepo server
          command: echo $SSH_KEY | base64 -d > /tmp/id_ssh && chmod 0600 /tmp/id_ssh
      - run:
          name: Update createrepo repository
          command: make createrepo

  build-synology-spk:
    <<: *docker_job
    steps:
      - <<: *workspace
      - run:
          name: Build Synology packages
          command: make synology-spk

  release-github:
    <<: *docker_job
    steps:
      - run:
          name: Fetch release changelog so we can preserve it when releasing
          command: "CHANGELOGRAW=$(curl -H \"Authorization: token ${GITHUB_TOKEN}\"  https://api.github.com/repos/cloudradar-monitoring/cagent/releases | jq \".[0].body\") && echo \"export CHANGELOGRAW=$CHANGELOGRAW\" >> $BASH_ENV"
      - run:
          name: Publish release
          shell: /bin/bash
          command: |
            if [[ ${CIRCLE_TAG} =~ -{1}((0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*)(\.(0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*))*)?(\+[0-9a-zA-Z-]+(\.[0-9a-zA-Z-]+)*)?$ ]] ; then
              echo -e ${CHANGELOGRAW} | github-release edit --user cloudradar-monitoring --repo cagent --tag ${CIRCLE_TAG} --pre-release --description -
            else
              echo -e ${CHANGELOGRAW} | github-release edit --user cloudradar-monitoring --repo cagent --tag ${CIRCLE_TAG} --description -
            fi
          when: on_success
      - run:
          name: Delete GitHub release in case something went wrong
          command: github-release delete --user cloudradar-monitoring --repo cagent --tag ${CIRCLE_TAG}
          when: on_fail

workflows:
  version: 2
  test-on-commit:
    jobs:
      - get-source:
          filters:
            tags:
              ignore: /.*/
      - test:
          requires:
            - get-source
          filters:
            tags:
              ignore: /.*/
      - test-goreleaser:
          requires:
            - get-source
          filters:
            tags:
              ignore: /.*/

  release:
    jobs:
      - get-source:
          context: cloudradar
          filters:
            tags:
              only: /^(0|[1-9]\d*)\.(0|[1-9]\d*)\.(0|[1-9]\d*)(-(0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*)(\.(0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*))*)?(\+[0-9a-zA-Z-]+(\.[0-9a-zA-Z-]+)*)?$/
            branches:
              ignore: /.*/
      - test:
          context: cloudradar
          requires:
            - get-source
          filters:
            tags:
              only: /^(0|[1-9]\d*)\.(0|[1-9]\d*)\.(0|[1-9]\d*)(-(0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*)(\.(0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*))*)?(\+[0-9a-zA-Z-]+(\.[0-9a-zA-Z-]+)*)?$/
            branches:
              ignore: /.*/
      - build-goreleaser:
          context: cloudradar
          requires:
            - test
          filters:
            tags:
              only: /^(0|[1-9]\d*)\.(0|[1-9]\d*)\.(0|[1-9]\d*)(-(0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*)(\.(0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*))*)?(\+[0-9a-zA-Z-]+(\.[0-9a-zA-Z-]+)*)?$/
            branches:
              ignore: /.*/
      - build-sign-msi:
          context: cloudradar
          requires:
            - build-goreleaser
          filters:
            tags:
              only: /^(0|[1-9]\d*)\.(0|[1-9]\d*)\.(0|[1-9]\d*)(-(0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*)(\.(0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*))*)?(\+[0-9a-zA-Z-]+(\.[0-9a-zA-Z-]+)*)?$/
            branches:
              ignore: /.*/
      - build-aptly:
          context: cloudradar
          requires:
            - build-goreleaser
          filters:
            tags:
              only: /^(0|[1-9]\d*)\.(0|[1-9]\d*)\.(0|[1-9]\d*)$/
            branches:
              ignore: /.*/
      - build-createrepo:
          context: cloudradar
          requires:
            - build-goreleaser
          filters:
            tags:
              only: /^(0|[1-9]\d*)\.(0|[1-9]\d*)\.(0|[1-9]\d*)$/
            branches:
              ignore: /.*/
      - release-github:
          context: cloudradar
          requires:
            - build-sign-msi
            - build-synology-spk
          filters:
            tags:
              only: /^(0|[1-9]\d*)\.(0|[1-9]\d*)\.(0|[1-9]\d*)(-(0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*)(\.(0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*))*)?(\+[0-9a-zA-Z-]+(\.[0-9a-zA-Z-]+)*)?$/
            branches:
              ignore: /.*/
      - build-synology-spk:
          context: cloudradar
          requires:
            - build-goreleaser
          filters:
            tags:
              only: /^(0|[1-9]\d*)\.(0|[1-9]\d*)\.(0|[1-9]\d*)(-(0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*)(\.(0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*))*)?(\+[0-9a-zA-Z-]+(\.[0-9a-zA-Z-]+)*)?$/
            branches:
              ignore: /.*/
